<!-- we get to show_plant by a gardener clicking on one of their plants
from their 'my_plants' page
we also get here after a gardener has edited a plant (then we show it) -->

<h2><%=@plant.name%></h2>

<h3>This plant needs: <%= @plant.amount_of_sun %></h3>
<h3>Water it: <%= @plant.water_frequency %></h3>


<br>
<div class="button">
  <a href="/my_plants/<%= @plant.id %>/edit">Edit Plant</a>
</div>
<br>
<form action="/plants/<%=@plant.id%>/delete" method="post">
  <input class="submit" type="submit" id="Delete Plant" value="Delete Plant">
</form>
